.App {
  text-align: center;
}


.EditRow{
  height: 20px;
}
.delete {
  
  padding: 3px 10px;
  border-radius: 3em !important;
  width: 25px;
  color: #fff;
  background-color: #e04555;
  cursor: pointer;
  line-height: 1.5;
  font-weight: 400 ;
}
.delete:hover {
  background-color: #c82333; 
}


