 input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc !important;
    border-radius: 40px;
    font-size: 16px;
    background-color: white;
    background-image: url('../../assets/img/searchicon.png');
    background-position:right center; 
    background-repeat: no-repeat;
    padding: 6px 40px 6px 40px;
    margin-top: 10px;
    margin-bottom: 10px;
  
  }